/* Global styles */
body {
    background: url('../static/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: white;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Transparent background */
    border-radius: 10px;
}

h1 {
    font-weight: bold;
    color: #ffcc00; /* Custom golden color */
}

.btn-primary {
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.btn-primary:hover {
    background-color: #1c86ee;
    border-color: #1c86ee;
}

#responseContainer {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    color: #ffcc00; /* Matching color for text */
}

.form-label {
    color: #ffcc00;
}
